
header {
	background-color: #3e4444;
	width: 100%;
	height: 10%;
	top: 0;
	color: #92a8d1;
	position: fixed;
	font-family: calibri;
	font-weight: 200;
	font-size: 150%;
	text-align: center;
}

header ul {
	display: flex;
	justify-content: center;
}

header ul li {
	list-style-type: none;
	display: list-item;
	line-height: 30px;
	padding-left: 75px;
}

body {
	background-size: cover;
	background-image: url("https://78.media.tumblr.com/cd13d051de3af47808e507a43f82cfe4/tumblr_ndvhpbe25g1qhxtpvo3_1280.jpg");
	text-align: center;
}

.section1 {
	width: 100%;
	height: 50%;
	color: white;
	font-family: calibri;
	font-size: 300%;
}

.section2 {
	color: grey;
	font-family: arial;
    font-weight: 100;
    font-size: 150%;
}

p {
    border: 3px solid #92a8d1;
    padding: 10px;
	background-color: #f0efef;
	text-align: center;
	margin: center;
}


footer {
	color: #92a8d1;
	font-family: calibri;
	font-weight: 100;
	font-size: 140%;
	text-align: center;
	margin: center;
	
}
